body {
    justify-content: center;
    align-content: center;
}
h1 {
    justify-content: center;
    text-align: center;
    color: green;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}
img {
    width: 400px;
    height: 100px
    justify-content: center;
    align-items: center;
}
p{
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 18px;
    text-transform: inherit;
}
.text2 {
    text-align: left;
    font-size: 20px;
    
}
span{
    justify-content: center;
    text-align: center;
    color: red;
    font-size: 18px;
}
ul {
    justify-content: center;
    align-content: center;
    text-align: left;
}
li{
    align-content: center;
    justify-content: center;
    text-align: left;
    margin: 10px;
}
a {
    align-content: center;
    text-align: right;
    justify-content: center;
}
.list1 {
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
}
.textP {
    color: blueviolet;
    font-size: 22px;
    text-align: left
}
th  {
color: red;
border: 1px;
text-transform: uppercase;
justify-content: center;
text-align: center;
}
table, tr, td {
  border: 1px solid;
  width: 50%;
  padding: 10px;
  margin: 16px ;
  text-align: left;
  align-content: center;
  justify-content: center;
  border-collapse: collapse;
  
}
.textL {
    float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.textC {
    float: right;
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}